[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
graphene = "*"
graphene-django = "*"


[dev-packages]

