[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
graphene = "*"
graphene-django = "*"
django-graphql-jwt = "*"
django-graphql-extensions = "*"
django-cors-headers = "*"
nbconvert = "*"
dj-database-url = "*"
django-guardian = "*"
django-graphql-social-auth = {extras = ["jwt"]}
social-auth-app-django = "*"
pyyaml = "*"
"psycopg2-binary" = "*"
graphene-django-extras = "*"


[dev-packages]

